<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% if title %}
        <title>{{ title }} - FlaPy Disaster</title>
        {% else %}
        <title>FlaPy Disaster</title>
        {% endif %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <script type=text/javascript src="{{ url_for('static', filename='JQuery/jquery-3.0.0.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ url_for('get_base_js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mainPage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/hurricane_load_page.css') }}">
        <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">-->
    </head>
    <body>
        <div class="nav">
            <ul>
                <li>
                    {% if title %}
                    <h1>{{ title }}</h1>
                    {% else %}
                    <h1>FlaPy Disaster</h1>
                    {% endif %}
                </li>
                <li><a href="{{ url_for('main_page') }}">Home</a></li>
                <li><a href="{{ url_for('hurricane_page') }}">Hurricane</a></li>
                <!--<li><a href="{{ url_for('leaflet_redirect', sender_include='none') }}">Leaflet</a></li>-->
                <!--<li><a href="{{ url_for('asteroid_page') }}">Asteroid</a></li>-->
                <!--<li><a href="{{ url_for('documentation_main') }}">Documentation</a></li>-->
                <li><a href="https://github.com/cliftbar/FlaPyDisaster/wiki">Documentation</a></li>

                <li class="nav_right"><a href="{{ url_for('hard_reset') }}">Reset Application</a></li>
            </ul>
        </div>
        <div class="sub_body">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>