.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li p {
    display: block;
    color: white;
    text-align: center;
    padding: ;
}

.nav li h1 {
    display: inline ;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #111;
}

.nav li button {
}

.active {
    background-color: #4CAF50;
}

.indicator {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #dddddd;
}

.status_bad{
    background-color: red;
}

.status_warn{
    background-color: orange;
}

.status_good{
    background-color: green;
}

.nav .nav_right{
    float: right;
}

.sub_body {
    border: 5px solid transparent;
}